.header-container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.header-intro {
  font-family: "Azeret Mono", monospace;
  color: white;
  font-weight: 600;
  font-size: 45px;
}

.header-intro-2 {
  margin-left: 120px;
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.header-intro-4 {
  margin-left: 60px;
  font-size: 55px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.header-image img {
  height: 420px;
  width: auto;
  margin-left: 80px;
}

.header-image {
  position: relative;
  top: -80px;
}

.about-me {
  text-align: center;
  font-family: "Azeret Mono", monospace;
  color: white;
  width: 75%;
  line-height: 1.7;
  font-size: 22px;
  /* margin-top: 80px; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
